.layout {
    flex-direction: column;
    background-color: #2a3b50;
    color: #fff;

    &__content {

        @media (min-width: 768px) and (max-width: 1024px) {
            padding: 10px;
            font-size: 14px;
            width: 100%;
        }

        @media (min-width: 480px) and (max-width:767px) {
            padding: 5px;
            font-size: 12px;
        }
    }
}
.header {
    position: fixed !important;
    top: 0;
    left: 0; 
    width: 100%;
    z-index: 200;
    background-color: #1b2735;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;

    .logo {
        width: 80px;
        height: auto;
        object-fit: contain;
        margin-left: 20px;
    }
  
    .search-form {
        .search-input,
        .search-button {
            border: 2px solid transparent;
            transition: border 0.3s ease-in-out;
            height: 40px;

            &:hover {
                border-color: gold;
            }
        }

        .search {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 45px;
        }

        .search-button {
            z-index: 5;
            right: 45px;
            top: 2px;
        }
    }

    .nav-link {
        color: white;
        font-weight: bold;
        transition: color 0.3s ease;

        &:hover {
            color: gold;
        }

        &.active {
            background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: bold;
            display: inline-block; 
            color: transparent !important;
        }
    }

    .dropdown-item {
        color: #1b2735;
        text-align: center;
        font-weight: bold;

        &:hover {
            background-color: #1b2735; 
            color: white;          
        }
    }

    @media (max-width: 768px) {
        flex-direction: column; // Chuyển sang layout dọc
        padding: 10px;
    }
}
.footer {
    text-align: center;
    padding: 15px;

    @media (max-width: 768px) {
        font-size: 14px;
        padding: 10px;
    }

    @media (max-width: 480px) {
        font-size: 12px;
    }
}
