.header {
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    z-index: 100;
    background-color: #1b2735;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;

    .logo {
        width: 90px;
        height: auto;
        object-fit: contain;
        margin-left: 20px;
    }

    .search-form {
        .search-input,
        .search-button {
            border: 2px solid transparent;
            transition: border 0.3s ease-in-out;
            height: 40px;

            &:hover {
                border-color: gold;
            }
        }

        .search {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 45px;
        }

        .search-button {
            z-index: 5;
            right: 45px;
            top: 2px;
        }
    }

    // Style hover for Nav.Link
    .nav-link {
        color: white;
        font-weight: bold;
        transition: color 0.3s ease;

        &:hover {
            color: gold; // Change color to gold on hover
        }
    }

    // Style for dropdown items
    .dropdown-item {
        color: #1b2735;
        text-align: center;
        font-weight: bold;

        &:hover {
            background-color: #1b2735; // Highlight background
            color: white;          // Change text color to white
        }
    }
}
