.carousel-section {
    .carousel {
        margin-top: 100px;
        .carousel-inner {
            .carousel-item {
                img {
                    width: 100%; /* Đảm bảo hình ảnh chiếm toàn bộ chiều rộng */
                    height: 400px; /* Đặt chiều cao mặc định cho hình ảnh */
                    object-fit: cover; /* Đảm bảo ảnh không bị méo */
                }
            }
        }
    }

    /* Responsive styles */
    @media (max-width: 768px) {
        .carousel-inner {
            .carousel-item {
                img {
                    height: 300px; /* Giảm chiều cao cho màn hình nhỏ */
                }
            }
        }
    }

    @media (max-width: 576px) {
        .carousel-inner {
            .carousel-item {
                img {
                    height: 250px; /* Giảm chiều cao cho màn hình rất nhỏ */
                }
            }
        }
    }
}
